:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(76, 76, 76);
  background-image: url(../assets/images/grass.webp);
  background-size: 6em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100svh;
}
header {
  display: flex;
  flex-direction: row;
  z-index: 1;
}
#help,
#settings {
  position: absolute;
  margin: 1em;
  z-index: 1;
}
#help {
  left: 0;
  font-size: 1.5em;
  color: white;
}
#settings {
  right: 0;
}

dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 50%;
  padding: 2em;
  border: solid 1px yellow;
}
dialog form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.option {
  width: 100%;
}
#form-buttons {
  margin-top: auto;
  display: flex;
  gap: 2em;
  justify-content: center;
}
#map {
  height: 100%;
  width: 100%;
  border: solid 1px rgb(0, 0, 0);
}
#player {
  position: absolute;
  aspect-ratio: 1;
  background-image: url(../assets/images/steve.jpg);
  background-size: cover;
  /* border: solid 2px blue; */
  /* background-color: yellow; */
}
#origin {
  position: absolute;
  width: 3px;
  aspect-ratio: 1;
  /* background-color: blue; */
}
.obstacle {
  background-color: black;
  position: absolute;
  aspect-ratio: 1;
  background-image: url(../assets/images/barrier.png);
  background-size: cover;
}
#obstacle-preview {
  aspect-ratio: 1;
  position: absolute;
  background-image: url(../assets/images/barrier.png);
  background-size: cover;
  opacity: 0.7;
}
#guide {
  min-width: fit-content;
  font-size: 2em;
  position: absolute;
  padding: 0.2em;
  color: white;
  background-color: rgba(91, 91, 91, 0.348);
  border: 2px solid black;
  white-space: pre-line;
}
