:root {
  background-color: rgb(76, 76, 76);
  background-image: url(../assets/images/grass.webp);
  background-size: 6em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100svh;
}
header {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 0;
  margin: 1em;
  z-index: 1;
}
dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 50%;
  padding: 2em;
  border: solid 1px yellow;
}
dialog form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.option {
  width: 100%;
}
#form-buttons {
  margin-top: auto;
  display: flex;
  gap: 2em;
  justify-content: center;
}
#map {
  height: 100%;
  width: 100%;
  border: solid 1px blue;
}
#player {
  border: solid 2px blue;
  position: absolute;
  background-color: yellow;
  aspect-ratio: 1;
  background-image: url(../assets/images/steve.jpg);
  background-size: cover;
}
#origin {
  position: absolute;
  width: 3px;
  aspect-ratio: 1;
  background-color: blue;
}
.obstacle {
  background-color: black;
  position: absolute;
  aspect-ratio: 1;
  background-image: url(../assets/images/barrier.png);
  background-size: cover;
}
